= form_for @menu, class: 'form-group' do |f|
  = f.label :title do
    = f.text_field :title, id: 'title', class: 'form-control'
  %p#dishes
    - unless current_user.restaurant.dishes.empty?
      %h3 Check to add dishes to menu:
      = f.collection_check_boxes :dish_ids, @dishes, :id, :name do |b|
        .checkbox
          = b.check_box + b.label
  - if current_page?(new_menu_path)
    = f.submit 'Create', id: 'create', class: 'btn btn-warning'
  - else
    = f.submit 'Update', id: 'update', class: 'btn btn-warning'
