.row
  .column-md-12
    %h1 Edit menu: #{@menu.title}
    = form_for @menu, action: :update do |f|
      = f.label :title, 'Edit Title'
      %br/
      = f.text_field :title, id: 'title'
      %br/
      - if !@menu.dishes.nil?
        %h3 Check to add dishes to menu:
        = f.collection_check_boxes :dish_ids, @dishes, :id, :dish_name do |b|
          .checkbox
            = b.check_box + b.label
      = f.submit 'Update', id: 'create'
