.row
  .column-md-12
    - if current_user
      %h1
        Cart for
        = current_user.name
    - else
      %h1 Your cart
    %p selected dishes
    - if @cart.shopping_cart_items.count == 0
      You have no dishes in your cart.
      %br
      = link_to 'Search for dishes!', root_path
    - else
      - @cart.shopping_cart_items.each do |dish|
        = dish.price_cents
        = dish.item.dish_name
      - if current_user
        = link_to 'Pay Now', checkout_path(@cart), method: :post
      - else
        = link_to 'Log in to pay', new_user_registration_path
= stripe_javascript_tag
