%div
  - flash.each do |key, value|
    .text-center
      = value
%h1 Add a Dish
= form_for @dish do |form|
  %p
    = form.label :dish_name, 'Dish Name'
    %br/
    = form.text_field :dish_name
  %p
    = form.label :dish_desc, 'Dish description'
    %br/
    = form.text_area :dish_desc
  %p
    = form.label :dish_price, 'Price'
    %br/
    = form.text_field :dish_price
  %p
    = form.label :dish_allergy, 'Allergy Info'
    %br/
    = form.text_area :dish_allergy
  %p
    = form.label :dish_cal, 'Calories'
    %br/
    = form.text_field :dish_cal
  %p
    = form.label :dish_ingredients, 'Ingredients'
    %br/
    = form.text_field :dish_ingredients
  %p
    = form.submit 'Add a Dish'
