%h1 Add a Dish
= form_for @dish do |form|
  %p
    = form.label :dish_name, 'Dish Name'
    %br/
    = form.text_field :dish_name
  %p
    = form.label :dish_desc, 'Dish description'
    %br/
    = form.text_area :dish_desc
  %p
    = form.label :dish_price, 'Price'
    %br/
    = form.text_field :dish_price
  %p
    = form.label :dish_allergy, 'Allergy Info'
    %br/
    = form.text_area :dish_allergy
  %p
    = form.label :dish_cal, 'Calories'
    %br/
    = form.text_field :dish_cal
  %p
    = form.label :dish_ingredients, 'Ingredients'
    %br/
    = form.text_field :dish_ingredients
  %p#menus
    - if !@menus.nil?
      %h3 Add to Menu
      = form.collection_check_boxes :menu_ids, @menus, :id, :title do |b|
        .checkbox
          = b.check_box + b.label
  %p
    = form.submit 'Add a Dish'
