%h1
  Dish page for #{@dish.dish_name}
Dish description: #{@dish.dish_desc}
%br/
Dish price: #{@dish.dish_price}
%br/
Allergens: #{@dish.dish_allergy}
%br/
Ingredients: #{@dish.dish_ingredients}
%br/
Calories: #{@dish.dish_cal}
