.h1-top
  %h1 here is the show for restaurants
.container
  .row
    .col-md-8.col-xs-12
      %br/
      %br/
      = @restaurant.name
      %br/
      = @restaurant.category
      %br/
      = @restaurant.description
      %br/
      = @restaurant.street
      %br/
      = @restaurant.zipcode
      %br/
      = @restaurant.town
      %br/
      %br/

      %p
        - @restaurant.menus.each do |menu|
          = link_to menu.title, menu_path(menu)

      = link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-success"

  .highlighted
    %h3 Highlighted Dishes
    - @restaurant.dishes.where(highlight: true).limit(6).each do |dish|
      .col-sm-4
        .graybackground
          .dish.h4
            = dish.name
          .dish
            = dish.description
          .dish
            Price:
            = dish.price
          .order_button
            - if can? :create, ShoppingCart
              = link_to 'Add to cart', dish_add_item_path(dish), method: :post, class: 'btn btn-success'
