%nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{aria: {controls: 'navbar', expanded: 'false'}, data: {target: '#navbar', toggle: 'collapse'}, type: 'button'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Best Slow Food', root_path, class: 'navbar-brand'
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          = link_to 'Home', root_path
        %li
          = link_to 'Create dish', new_dish_path
        %li
          = link_to 'Show cart', carts_path
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %p.navbar-text.navbar-right
            Signed in as
            = current_user.name
        -  else
          %li
            = link_to 'Log in', new_user_session_path
          %li
            = link_to 'Sign up', new_user_registration_path
